# Node.js dependencies
node_modules/

# Vite build output
dist/

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Reveal Remote Running Config
reveal-remote.js

# Ignore compiled CSS and sourcemaps from custom themes
css/*.css
css/*.css.map
css/fonts
css/custom

# Ignore user's presentation files
presentations_*

!presentations/readme
presentations/readme/presentation.md

# But keep the SCSS source directory
!customtheme/source/
!customtheme/source/**

# Generated index file for presentations
presentations/index.json

# Ignore large or temporary asset directories
assets/backgrounds/
assets/tmp/

# Generated output for llm helper
revelation_file_summary.txt
