@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/variable/JetBrainsMono-wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/variable/JetBrainsMono-Italic-wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

