<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Loading...</title>
  <!-- This is a generic presentation stub. For markdown presentations you should do not need to modify this file.-->
  <link id="theme-stylesheet" rel="stylesheet" href="">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section id="markdown-container">Loading...</section>
    </div>
  </div>
  <div id="fixed-overlay-wrapper">
  </div>
  <script type="module" src="/js/presentations.js"></script>
</body>
</html>

