/**
 * Beige Theme for REVELation Snapshot Presenter
 * Leveraging Beige them for Reveal.js
 */

// Reveal.js template base (via include path from node_modules)
@import 'reveal.js/dist/reveal.css';
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";

@import 'reveal.js/css/theme/source/beige.scss';

@import "./custom/layouts.scss";

#fixed-overlay-wrapper {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0,0,0);
}

.reveal figure.captioned-image figcaption {
    background-color: rgba(0, 0, 0, 0.6);  // tweak for your theme
    color: #fff;
}
