/**
 * SoftBlood Theme for REVELation Snapshot Presenter
 * Based on Blood by Walther
 * Customized for media-rich backgrounds
 */

@use "sass:color";

// Reveal.js template base (via include path from node_modules)
@import 'reveal.js/dist/reveal.css';
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
@import "./custom/layouts.scss";

// Font
@import url(https://fonts.googleapis.com/css?family=League+Gothic);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

@import 'reveal.js/css/theme/source/blood.scss';


// Slide content enhancements
.reveal {

    h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: "League Gothic";
  }

}

#fixed-overlay-wrapper {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#fixed-tint-wrapper {
        position: fixed;
        top: 0;
        left: 0;  
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,266,0.5);
        zIndex: 0;
        pointerEvents: none;
}

.info-head, .info-body {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}