/**
 * White Theme for REVELation Snapshot Presenter
 * Leveraging White them for Reveal.js
 */

// Reveal.js template base (via include path from node_modules)
@import 'reveal.js/dist/reveal.css';
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";

@import 'reveal.js/css/theme/source/white.scss';

@import "./custom/layouts.scss";

#fixed-overlay-wrapper {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(80,80,80);
}

#fixed-tint-wrapper {
        position: fixed;
        top: 0;
        left: 0;  
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,266,0.5);
        zIndex: 0;
        pointerEvents: none;
}
